{% extends "layout.html" %}

{% block content %}
<div class="BLACK">
	<header>
		<nav>
			<ul class="nav-bar">
				<li><a href="/signup">Sign up</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</nav>
	</header>
	<section class="container">
		<div class="intro">
			<p class="title">GOTHON WEB</p>
			<p class="desc">Welcome to Gothon Web, a text based Sci-fi adventure
			   game hosted on the interweb. In this game you will
			   navigate a spaceship trying to outsmart the Gothons
			   that have invaded your ship in an attempt to reclaim
			   your ship or die trying.
			   To play <a href="/login">Login</a> or <a href="/signup">Sign up</a>
			</p>
		</div>
	</section>
	<footer>
		<p>Made by bebian</p>
	</footer>
</div>
{% endblock %}
