{% extends 'layout.html' %}

{% block content %}
<div class="WHITE">
	<div class="profile">
		<header>
			<nav>
				<ul class="nav-bar">
					<li><a href="/">Home</a></li>
					<li><a href="/logout">Log out</a></li>
				</ul>
			</nav>
		</header>
		<section class="user">
			<div class="welcome">
				<p >Welcome {{name}}</P>
			</div>
			<div class="details">
				<span class="Title">Player Stats</span>
				<p>Highscore: {{hscore}}</p>
				<div class="actions">
					<a href="/play"><button class="btn">New Game</button></a>
					<a href="/reset"><button class="btn">Reset Highscore</button></a>
				</div>
			</div>
	</div>
</div>
{% endblock %}
