{% extends "layout.html" %}

{% block content %}

<div class="picture">
		<div class="room">
				<h1 class="title"> {{ room.name }} </h1>

				<div class="description">
				{{ room.description }}
				</div>

			{% if room.name in ["Death", "The End"] %}
				<a href="/play"><input type="button" value="Play Again" class="btn"></a>
				<br><br>
				<a href="/profile"><input type="button" value="Quit" class="btn"></a>
			{% else %}
				<form action="/game" method="POST">
						<input type="text" name="action" autocomplete="off">
						<input class="btn" type="SUBMIT" value="go">
				</form>
				<a href="/end"><input type="button" value="Quit" class="btn"></a><br>
				<p>
			{% if options %}
				Options are:
			{% for i in options %}
				<p>o {{i}}</p>
			{% endfor %}
			{% endif %}
				</p>
			{% endif %}
		</div>
</div>

{% endblock %}
