{% extends "layout.html" %}

{% block content %}
<div class="BLACK">
	<header>
		<nav>
			<ul class="nav-bar">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Log in</a></li>
			</ul>
		</nav>
	</header>
	<section class="container">
			<form class="form" action="/signup", method="POST">
				<p class="title">Sign up</p>
				<p>Create an account and dive into gothon!</p><br>
				Username: <br><input class="input" type="text" name="name"><br>
				Email: <br><input class="input" type="email" name="email"><br>
				Password: <br><input class="input" type="password" name="password"><br>
				Re-enter Password: <br><input class="input" type="password"><br>
				<input class="log btn" type="submit" value="Sign up">
			</form>
		</section>
</div>
{% endblock %}
